.boutton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #6c6ceb 0%,
        #8a90ff 25%,
        #104196 75%,
        #2d2559);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#6c6ceb),
        color-stop(0.25, #8a90ff),
        color-stop(0.75, #104196),
        to(#2d2559));
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 3px solid #3b4aed;
    max-width: 240px;
    -moz-box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 10px rgba(17,132,219,0.7);
    -webkit-box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 10px rgba(17,132,219,0.7);
    box-shadow:
        0px 1px 3px rgba(0,0,0,0.5),
        inset 0px 0px 10px rgba(17,132,219,0.7);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0.3);
    display: inline-block;
}
