//----------------------------------- style perso ----------------------------------
@couleur_base: #4D926F;
@couleur_base_fond : #0d7cb3 ;
@couleur_fond : overlay(@couleur_base,@couleur_base_fond);
@couleur_pied : #009BC1;
@couleur_bord_pied : hardlight(#ff6600, #009BC1);

@taille_h1 : 68 ;
@taille_h2 : 42;
@taille_police_base : 24;
