@import "definition.less";

/*  Typography presets
------------------  */

.gigantic {
    font-size: 110px;
    line-height: 120px;
    letter-spacing: -2px;
}

.huge, h1 {
    font-size: @taille_h1;
    line-height: 72px;
    letter-spacing: -1px;
}

.large, h2 {
    font-size: @taille_h2;
    line-height: 48px;
}

.bigger, h3 {
    font-size: 26px;
    line-height: 36px;
}

.big, h4 {
    font-size: 22px;
    line-height: 30px;
}

body {
    font: 16px/24px Georgia, serif;
}

.small, small {
    font-size: 13px;
    line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection         {background: rgb(255,255,158);}
::-moz-selection    {background: rgb(255,255,158);}
img::selection      {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*      Default Layout: 992px. 
        Gutters: 24px.
        Outer margins: 48px.
        Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
body {
    p{
        font-family: Georgia,serif;
    }
    -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}


/*      Mobile Layout: 320px.
        Gutters: 24px.
        Outer margins: 34px.
        Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 960px) {

    body {
        width: 100%;
        h1,h2{

            font-size: @taille_h1 - 30;
        }
        p{
            font-family: Georgia,serif;
            font-size: @taille_police_base - 7;
        }
        .contenu_double{
            min-width:100%; 
            padding: 0 0 0 0 !important;
             margin-right: -50px;
        }
        .titre{

            min-width:100%; 
            padding: 0 0 0 0 !important;
        }

    }
    .decoration{
        position: relative;
        margin : auto !important;
        min-width: 20%;
        width: 100%;
        display: inline-block;
        text-align: center;
        img{
            height: 200px;
            width: 110px;
            margin : auto !important;
            text-align: center;
        }
    }
    
}




@media only screen and (max-width: 700px) {

    body {
        width: 100%;
        h1,h2{
            font-size: @taille_h1 - 40;
            line-height: 90%;
        }
        p{

            font-family: Georgia,serif;
            font-size: @taille_police_base - 12;
            line-height: 90%;
            font-weight: 400;
            text-shadow: 0px 1px 1px (lighten(@couleur_base, 100%));
        }
        .contenu_double{
           padding: 0 0 0 0;
            width:100%; 
            margin-right: -50px;
           .vrai_contenu  {
                span{
                    max-width:100%; 
                }
           }
       }
       .centre{
        min-width : 100%;
        margin : 0 0 0 0;
    }
    .decoration{
        position: relative;
        margin : auto !important;
        min-width: 20%;
        width: 100%;
        display: inline-block;
        text-align: center;

        img{
            height: 200px;
            width: 110px;
            margin : auto !important;
            text-align: center;
            left :0;
            top :0;
        }
    }

}

}
//---------------------------  fin Less frameworks -----------------------------------------------

