
#contactFormContainer
            {//
               border-top-left-radius: 10px 5px;
               border-top-right-radius: 10px;
               position:relative;
               margin-top: -20px;
               float:right;
              background-color : gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
              border-style : dotted;
               border-bottom: 1px dashed #999;
            }
            #contactForm
            {
               height:277px;
               width:351px;
               background-image:url(’bkg.jpg’);
               display:none;
               z-index : -1;
                border-bottom: 1px dashed #999;
            }
            
            #contactForm fieldset
            {
               padding:30px;
               
               border:none;
            }      
            #contactForm label
            {
               display:block;
               color:#ffc400;
            }      
            #contactForm input[type=text]
            {
               display:block;
               border:solid 1px #4d3a24;
               width:100%;
               margin-bottom:10px;
               height:24px;
            }  
            #contactForm textarea
            {
               display:block;
               border:solid 1px #4d3a24;
               width:100%;
               margin-bottom:10px;
            }  
            #contactForm input[type=submit]
            {
               background-color:#4d3a24;
               border:solid 1px #23150c;
               color:#fecd28;
               padding:5px;
            }                
            #contactLink
            {
               height:40px;
               width:124px;
               background-image:url(’slidein_button.png’);
               display:block;
               cursor:pointer;

               text-align: center;   
               margin: -0px auto auto auto;
            }
            #messageSent
            {
               color:#ff9933;
               display:none;
            }
.box{
   background-color: transparent;
}
