@import "definition.less";

#lines {
    background-size: 20px 20px;    
    background-image: -webkit-repeating-linear-gradient(0deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px),-webkit-repeating-linear-gradient(-90deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px);
    background-image: -moz-repeating-linear-gradient(0deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px),-moz-repeating-linear-gradient(-90deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px);
    background-image: -o-repeating-linear-gradient(0deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px),-o-repeating-linear-gradient(-90deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px);
    background-image:repeating-linear-gradient(0deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px),repeating-linear-gradient(-90deg, @couleur_base, @couleur_base 2px, transparent 2px, transparent 7px);
    height:100%;
    width:100%;
    opacity:0.14;
    position:absolute;
    top:0;
    left:0;
    z-index:-4;
}

#overlay {
    background-image: -moz-radial-gradient(90% 90%, circle closest-side, transparent 27%,@couleur_fond 1024%);
    background-image: -webkit-radial-gradient(90% 90%, circle closest-side, transparent 27%,@couleur_fond 1024%);
    background-image: -o-radial-gradient(90% 90%, circle closest-side, transparent 27%,@couleur_fond 100%);
    background-image: -ms-radial-gradient(90% 90%, circle closest-side, transparent 27%,@couleur_fond 1024%);
    background-image: radial-gradient(90% 90%, circle closest-side, transparent 27%,@couleur_fond 1024%);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-3;
}
