
.numeros a, .numeros a:hover, .numeros a:active, .numeros a:visited, .titre-courts td, .titre-audiotel td, .titre-indigo td, .titre-azur td, .titre-vert td, .titre-zero-neuf td, .titre-geographqiue td, .titre-hors-france td {
    color:#FFF;
    font-weight:bold;
    text-decoration:none;
}
.titre-courts td, .titre-audiotel td, .titre-indigo td, .titre-azur td, .titre-vert td, .titre-zero-neuf td, .titre-geographqiue td, .titre-hors-france td {
    border:1px solid #fff !important;
}
.courts td {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffe5eb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffe5eb));
    background: -webkit-linear-gradient(top, #ffffff 0%,#ffe5eb 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#ffe5eb 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#ffe5eb 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ffe5eb 100%);
    -pie-background: linear-gradient(to bottom, #ffffff 0%,#ffe5eb 100%);
    behavior:url(/styles/PIE.php);
    border:1px solid #6d0019 !important;
}
.courts .numeros, .titre-courts td {
    background: #6d0019;
background: -moz-linear-gradient(top, #6d0019 0%, #a90329 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(100%,#a90329));
background: -webkit-linear-gradient(top, #6d0019 0%,#a90329 100%);
background: -o-linear-gradient(top, #6d0019 0%,#a90329 100%);
background: -ms-linear-gradient(top, #6d0019 0%,#a90329 100%);
background: linear-gradient(to bottom, #6d0019 0%,#a90329 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 );
}
.audiotel td {
    background: -moz-linear-gradient(top, #ffffff 0%, #e9d7c0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e9d7c0));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e9d7c0 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e9d7c0 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e9d7c0 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e9d7c0 100%);
    -pie-background:linear-gradient(top, #ffffff 0%, #e9d7c0 100%);
    border:1px solid #986600 !important;
}
.audiotel .numeros, .titre-audiotel td {
    background: -moz-linear-gradient(top, #6e4303 0%, #996600 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6e4303), color-stop(99%, #996600));
    background: -webkit-linear-gradient(top, #6e4303 0%, #996600 99%);
    background: -o-linear-gradient(top, #6e4303 0%, #996600 99%);
    background: -ms-linear-gradient(top, #6e4303 0%, #996600 99%);
    background: linear-gradient(to bottom, #6e4303 0%, #996600 99%);

}
.indigo td {
    background: -moz-linear-gradient(top, #ffffff 0%, #cdc4e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #cdc4e2));
    background: -webkit-linear-gradient(top, #ffffff 0%, #cdc4e2 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #cdc4e2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #cdc4e2 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #cdc4e2 100%);
    border:1px solid #4a2583 !important;
}
.indigo .numeros, .titre-indigo td {
    background: -moz-linear-gradient(top, #221344 0%, #492682 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #221344), color-stop(99%, #492682));
    background: -webkit-linear-gradient(top, #221344 0%, #492682 99%);
    background: -o-linear-gradient(top, #221344 0%, #492682 99%);
    background: -ms-linear-gradient(top, #221344 0%, #492682 99%);
    background: linear-gradient(to bottom, #221344 0%, #492682 99%);
}
.azur td {
    background: -moz-linear-gradient(top, #ffffff 0%, #c9e8fb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c9e8fb));
    background: -webkit-linear-gradient(top, #ffffff 0%, #c9e8fb 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #c9e8fb 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #c9e8fb 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #c9e8fb 100%);
    border:1px solid #009fe3 !important;
}
.azur .numeros, .titre-azur td {
    background: -moz-linear-gradient(top, #006d99 0%, #009fe3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006d99), color-stop(100%, #009fe3));
    background: -webkit-linear-gradient(top, #006d99 0%, #009fe3 100%);
    background: -o-linear-gradient(top, #006d99 0%, #009fe3 100%);
    background: -ms-linear-gradient(top, #006d99 0%, #009fe3 100%);
    background: linear-gradient(to bottom, #006d99 0%, #009fe3 100%);
}
.vert td, .vert-international td {
    background: -moz-linear-gradient(top, #ffffff 0%, #cfe6ce 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #cfe6ce));
    background: -webkit-linear-gradient(top, #ffffff 0%, #cfe6ce 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #cfe6ce 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #cfe6ce 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #cfe6ce 100%);
    border:1px solid #009a3e !important;
}
.vert .numeros, .vert-international .numeros, .titre-vert td {
    background: -moz-linear-gradient(top, #016329 0%, #00993d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #016329), color-stop(100%, #00993d));
    background: -webkit-linear-gradient(top, #016329 0%, #00993d 100%);
    background: -o-linear-gradient(top, #016329 0%, #00993d 100%);
    background: -ms-linear-gradient(top, #016329 0%, #00993d 100%);
    background: linear-gradient(to bottom, #016329 0%, #00993d 100%);
}
.zero-neuf td, .geographique td, .hors-france td, .hors-france .numeros {
    background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
    border:1px solid #a1a4a7 !important;
}
.zero-neuf .numeros, .titre-zero-neuf td {
    background: -moz-linear-gradient(top, #4e4e4e 0%, #7f7f7f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e4e4e), color-stop(100%, #7f7f7f));
    background: -webkit-linear-gradient(top, #4e4e4e 0%, #7f7f7f 100%);
    background: -o-linear-gradient(top, #4e4e4e 0%, #7f7f7f 100%);
    background: -ms-linear-gradient(top, #4e4e4e 0%, #7f7f7f 100%);
    background: linear-gradient(to bottom, #4e4e4e 0%, #7f7f7f 100%);
}
.geographique .numeros, .titre-geographqiue td, .titre-hors-france td {
    background: -moz-linear-gradient(top, #131313 0%, #3c3c3b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #131313), color-stop(100%, #3c3c3b));
    background: -webkit-linear-gradient(top, #131313 0%, #3c3c3b 100%);
    background: -o-linear-gradient(top, #131313 0%, #3c3c3b 100%);
    background: -ms-linear-gradient(top, #131313 0%, #3c3c3b 100%);
    background: linear-gradient(to bottom, #131313 0%, #3c3c3b 100%);
}
.hors-france .numeros a {
    color:#1A1A1A !important;
    font-weight:bold
}
.cartouche{
    display:block;
    position:relative;
    width:250px;
    height:24px;
    border: 2px solid white;
    border-radius: 50px;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    margin-top: 10px;
    text-decoration:none;
    font-size:1.25em;
    font-weight:bold;
    line-height:19px;
}
.cartouche.link:hover{
    top:-1px;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    behavior:url(/styles/PIE.php);
}
.cartouche.link:active{
    top:1px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    behavior:url(/styles/PIE.php);
}
.cartouche .tel{
    display:block;
    position:relative;
    top:2px;
    left:4px;
    width:15px;
    height:15px;
    background:url(../images/tel.png) no-repeat 2px 0px;
    border:2px solid #FFF;
    border-radius: 50px;
    behavior:url(/styles/PIE.php);
}
.cartouche .numerotation{
    overflow: hidden;
    display:block;
    position:relative;
    height:18px;
    top:-16px;
    left:30px;
    border-radius: 50px;
    background:#fff;
    text-decoration:none;
    text-align:center;
}
.numerotation{
    width:215px;
}

.cartouche.courts{
    background:#a90329;
    color:#a90329
}
.cartouche.audiotel{
    background:#986600;
    color:#986600
}
.cartouche.indigo{
    background:#492682;
    color:#492682
}
.cartouche.azur{
    background:#009fe3;
    color:#009fe3
}
.cartouche.vert{
    background:#009a3e;
    color:#009a3e
}
.cartouche.zero-neuf{
    background:#7f7f7f;
    color:#7f7f7f
}
.cartouche.geographique{
    background:#3c3c3b;
    color:#3c3c3b
}