body
#overlay
#lines
.centre
    .titre
        .ombre_sous_titre
        .choix_contact
            span.mail
                .boutton #{contenu.mail} 
            .cartouche.vert
                span.tel
                span.numerotation
                    0 800 660 007
        
        .cadre_info
            <h1 >détective #{contenu.nom} #{contenu.intule}</h1>
            .sous_info.cache
                span.diplome 
                    p #{contenu.intule}
                span.autorisation 
                    p #{contenu.autorisation}
                |<div class="box">
                |<div id="contactFormContainer">
                |                <div id="contactForm">
                |                       <div>contact : </div>
                |                </div>
                |                <div id="contactLink"><p>contact : </p></div>
                |            </div>
                |            <div class="header">
                |            </div>            
                |           
                |        </div>


    .separateur

    .conteneur_double
        .vrai_contenu
            .mission
                <h2>#{contenu.titre_mission}</h2>
                for item, i in contenu.missions
                    li 
                        p #{item}
            .rapport_enquete
                <h2>#{contenu.titre_rapport_enquete}</h2>
                for item, i in contenu.rapport_enquetes
                    li 
                        p #{item}
            .honoraire
                <h2>#{contenu.titre_honoraire}</h2>
                for item, i in contenu.honoraires
                    li 
                        p  #{item}
        .decoration

                       

.separateur

.pied_de_page.small
    <h2 class="small">pieds de page</h2>
    for item, i in contenu.pied_de_page
        li 
            p #{i} :  #{item}