doctype html5
html(lang="fr")
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width",initial-scale="1")
    title= contenu.nom+" "+contenu.intule
    link(rel='stylesheet', href='static/css/all.css')
    script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript',src='static/js/script.min.js')
    #overlay
    #lines
    .centre
        .titre
            .cadre_info.bigger
            p aie aie!!!